<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro v2.0.7+ + astro-icon issue</title>
  </head>
  <body>
    <h1>Astro v2.0.7+ + astro-icon issue</h1>

    <h2>Pages</h2>
    <ul>
      <li><a href="./p-in-sp/">paragraph inside `Sprite.Provider`</a></li>
      <li><a href="./sprite-in-sp/">`Sprite` inside `Sprite.Provider`</a></li>
      <li><a href="./icon-in-sp/">`Icon` inside `Sprite.Provider`</a></li>
      <li>
        <a href="./component-in-sp/">component inside `Sprite.Provider`</a>
      </li>
    </ul>
  </body>
</html>
